.App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.chat-window {
    width: 800px;
    height: 800px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
    position: fixed;
        top: 120px;
        left: 100px;
}

.message {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    word-wrap: break-word;
    line-height: 1.5;
}

.text-window-section {
    margin-top: 20px;
    width: 800px;
    height: 800px;
    border: 2px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
    position: fixed;
        top: 100px;
        left: 935px;
}

.user {
    background-color: hsl(0, 96%, 49%);
    align-self: flex-end;
}

.bot {
    background-color: #f0f0f0;
    align-self: flex-start;
}

.input-field[type="text"] {
    width: 600px;
    padding: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: fixed;
        bottom: 110px;
        left: 150px;
}

.delete-input {
    width: 400px;
    padding: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-button {
    padding: 16px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f30606;
    color: white;
    cursor: pointer;
    position: fixed;
        bottom: 110px;
        left: 790px;
}

.delete-button {
    padding: 16px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f30606;
    color: white;
    cursor: pointer;
}

.admin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f10909;
    color: rgb(248, 244, 244);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    position: fixed;
        top: 120px;
        right: 40px;
}